a {
  text-decoration: none;
  color: #888;
  transition: color 0.5s ease;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  display: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s ease;
}

#arrow:hover {
  color: rgba(255, 255, 255, 1);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#contact-title {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#demo-button {
  margin-right: 3vw;
}

#email,
#linkedin,
#github {
  margin: 1vh 2vw;
}

#home-container {
  background-image: url('/smoke.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#icons-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

#intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#intro-title {
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

#me {
  border: 3px solid white;
  border-radius: 50%;
  height: 25vh;
  margin-top: 7vh;
}

#menu {
  position: absolute;
  top: 25px;
  right: 35px;
}

#nav {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 0 0.5vw #000;
  position: fixed;
  height: 12vh;
  width: 100%;
  z-index: 3;
}

#project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

#projects {
  width: 100%;
  padding-bottom: 10%;
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
}

#projects-title {
  padding-bottom: 1vh;
  text-align: center;
}

#subtext {
  margin-top: 5vh;
}

.badge {
  margin-right: 1vw;
}

.blue {
  color: #77a6f7;
}

.bold {
  font-weight: bold;
}

.card-title {
  margin-bottom: 5vh;
}

.dropdown-menu {
  will-change: transform;
  transform: translate3d(0px, 37px, 0px);
}

.gray {
  color: #62666d;
}

.green {
  color: #00887a;
}

.invisible {
  display: none;
}

.visible {
  display: inline-block;
}

.pink {
  color: #ffbeaa;
}

.point {
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.project-card {
  box-shadow: 1px 1px 10px #000;
  margin-top: 1vh;
}

.project-img {
  border: 2vw solid #000;
  max-width: 100%;
  max-height: 25vh;
  margin-bottom: 3vh;
}

.spacer {
  padding-bottom: 2vh;
}

.shadow {
  text-shadow: 2px 2px 3px #000;
}

.white {
  color: #fff;
}

.white-link a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}

.white-link a:hover {
  color: #888;
  text-decoration: none;
}

@media (min-width: 900px) {
  #arrow {
    display: inline-block;
    font-size: 3vw;
  }

  #contact-title {
    margin-top: 5%;
  }

  #demo-button {
    margin-right: 1vw;
  }

  #home {
    display: none;
  }

  #nav {
    height: 5vh;
  }

  #nav-links {
    position: absolute;
    right: 2vw;
  }
  #nav-icon {
    display: none;
  }

  #project-buttons {
    margin-top: 3vh;
  }

  #projects {
    padding: 5% 15%;
  }

  #projects-title {
    padding-bottom: 3vh;
  }

  #subtext {
    margin-top: 2vh;
  }

  .card-title {
    margin-bottom: 3vh;
  }

  .project-card {
    flex: 20vw;
    margin: 5vh 3vw;
  }

  .project-img {
    border: 0.5vw solid #000;
  }
}
